<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.telekom.pde.codelibrary.samples"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/code_samples_launcher_icon"
        android:name=".app.PDECodeSamplesApp"
        android:label="@string/app_name"
        android:theme="@style/Theme.Pde" >


        <!-- Splash Screen (Start activity) -->
        <activity
            android:name=".splashscreen.ActivitySplashSample"
            android:label="@string/app_name"
            android:theme="@style/Theme.PDE.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Samples Activity -->
        <activity
                android:name=".app.PDECodeSamplesActivity"
                android:label="@string/app_name" >

        </activity>

        <!-- Common style Samples -->

        <activity
                android:name=".commonstyle.HeadersAndHeadlinesActivity"
                android:label="Common style/Headers and headlines" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

      <!--  <activity
                android:name=".commonstyle.pdelist.ListCheckboxSampleActivity"
                android:label="Common style/Lists/List Checkbox Sample"
                android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity> -->

        <activity
                android:name=".commonstyle.pdelist.PDEListPlainTextSingleLineActivity"
                android:label="Common style/Lists/List text single line"
                android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".commonstyle.pdelist.PDEListPlainTextMultiLineActivity"
                android:label="Common style/Lists/List text multi line"
                android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".commonstyle.pdelist.PDEListPlainGraphicSingleLineActivity"
                android:label="Common style/Lists/List graphic single line"
                android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".commonstyle.pdelist.PDEListPlainGraphicMultiLineActivity"
                android:label="Common style/Lists/List graphic multi line"
                android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".commonstyle.pdelist.PDEListPlainIconSingleLineActivity"
                android:label="Common style/Lists/List icon single line"
                android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".commonstyle.pdelist.PDEListPlainIconMultiLineActivity"
                android:label="Common style/Lists/List icon multi line"
                android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>


        <!-- Common style Samples / Action Bar Samples -->
        <activity android:name=".commonstyle.actionbar.ActivityActionBarOverflow"
                  android:label="Common style/Actionbars/Overflow actionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity android:name=".commonstyle.actionbar.ActivityActionBarSpinner"
                  android:label="Common style/Actionbars/Spinner actionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity
                android:name=".commonstyle.actionbar.ActivityActionBarSplit"
                android:label="Common style/Actionbars/Split actionbar"
                android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity android:name=".commonstyle.actionbar.ActivityActionBarStandard"
                  android:label="Common style/Actionbars/Standard actionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity android:name=".commonstyle.actionbar.ActivityListMultipleSelection"
                  android:label="Common style/Actionbars/Multi select listview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity android:name=".commonstyle.actionbar.ActivityDrawerLayout"
                  android:label="Common style/Actionbars/Sliding drawer (Google)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <!-- Common style Samples / Scrollbars -->
        <activity android:name=".commonstyle.scrollbars.ScrollBarOverviewActivity"
                  android:label="Common style/Scrollbars/Scrollbar overview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity android:name=".commonstyle.scrollbars.ScrollBarEventsActivity"
                  android:label="Common style/Scrollbars/Scrollbar events">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity android:name=".commonstyle.scrollbars.ScrollBarResizeActivity"
                  android:label="Common style/Scrollbars/Scrollbar resizing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>



        <!-- Generic style Samples -->



        <activity
                android:name=".genericstyle.pdeinputfields.InputFieldsOverviewGenericActivity"
                android:label="Haptic style/Inputfields/Inputfields overview|Flat style/Inputfields/Inputfields overview" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".genericstyle.pdeinputfields.InputFieldEventsGenericActivity"
                android:label="Haptic style/Inputfields/Inputfield events|Flat style/Inputfields/Inputfield events"
                android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".genericstyle.pdeinputfields.InputFieldProgrammingSampleActivity"
                android:label="Flat style/Inputfields/Inputfield programming sample|Haptic style/Inputfields/Inputfield programming sample"
                android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".genericstyle.pdeinputfields.InputFieldResizeActivity"
                android:label="Flat style/Inputfields/Inputfield resizing|Haptic style/Inputfields/Inputfield resizing"
                android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>


        <activity
                android:name=".genericstyle.pdebutton.ButtonsOverviewGenericActivity"
                android:label="Haptic style/Buttons/Buttons overview|Flat style/Buttons/Buttons overview" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>


        <activity
                android:name=".genericstyle.pdebutton.ButtonProgrammingSampleGenericActivity"
                android:label="Haptic style/Buttons/Button programming sample|Flat style/Buttons/Button programming sample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".genericstyle.pdebutton.ButtonEventsGenericActivity"
                android:label="Haptic style/Buttons/Button events|Flat style/Buttons/Button events" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>


        <activity
                android:name=".genericstyle.pdebutton.ButtonDisabledGenericActivity"
                android:label="Haptic style/Buttons/Button disabled|Flat style/Buttons/Button disabled" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".genericstyle.pdebutton.ButtonResizeGenericActivity"
                android:label="Haptic style/Buttons/Button resizing|Flat style/Buttons/Button resizing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>



        <activity
                android:name=".genericstyle.pdeslider.SlidersAndProgressBarsOverviewGenericActivity"
                android:label="Flat style/Sliders and progressbars/Sliders and progressbars overview|Haptic style/Sliders and progressbars/Sliders and progressbars overview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".genericstyle.pdeslider.ProgressBarProgrammingSampleGenericActivity"
                android:label="Flat style/Sliders and progressbars/Progressbar programming sample|Haptic style/Sliders and progressbars/Progressbar programming sample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>


        <activity
                android:name=".genericstyle.pdeslider.SliderProgrammingSampleGenericActivity"
                android:label="Flat style/Sliders and progressbars/Slider programming sample|Haptic style/Sliders and progressbars/Slider programming sample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <!--<activity-->
                <!--android:name=".genericstyle.pdeslider.SliderProgrammingSampleGenericActivity"-->
                <!--android:label="Flat style/Sliders and progressbars/Slider versions|Haptic style/Sliders and progressbars/Slider versions">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="de.telekom.pde.codelibrary.samples.category.code" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity
                android:name=".genericstyle.pdeslider.SliderEventsGenericActivity"
                android:label="Flat style/Sliders and progressbars/Slider events|Haptic style/Sliders and progressbars/Slider events">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".genericstyle.pdeslider.SliderResizeGenericActivity"
                android:label="Flat style/Sliders and progressbars/Slider resizing|Haptic style/Sliders and progressbars/Slider resizing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".genericstyle.StageGenericActivity"
                android:label="Flat style/Stage|Haptic style/Stage and cutout">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".genericstyle.MetaphorsGenericActivity"
                android:label="Flat style/Metaphors|Haptic style/Metaphors">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>



        <!-- Login Screens -->
        <activity android:name=".genericstyle.pdelogin.SampleAppLoginActivity"
                  android:label="Flat style/Login screens/Sampleapp login|Haptic style/Login screens/Sampleapp login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity android:name=".genericstyle.pdelogin.OneIDMLoginUsageSampleActivity"
                  android:label="Flat style/Login screens/OneIDM login|Haptic style/Login screens/OneIDM login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>



        <!-- Graphical elements -->
        <activity
            android:name=".graphicelements.GfxPrimitivesResizeActivity"
            android:label="Graphical elements" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <!-- Playground -->
        <activity
                android:name=".playground.PlayGroundActivity"
                android:label="Playground/Playground" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <!-- Developer screens -->


        <activity
            android:name=".developerscreens.KDMetaphorTestActivity"
            android:label="Developer screens/KD Metaphor Test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity
            android:name=".developerscreens.SizingTestScreenActivity"
            android:label="Developer screens/Sizing Test Screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity
            android:name=".developerscreens.NativeLayoutResizeActivity"
            android:label="Developer screens/KD Layout Test Screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity
            android:name=".developerscreens.AndroidButtonResizeActivity"
            android:label="Developer screens/Android Button Sizing Screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity
            android:name=".developerscreens.FontTestActivity"
            android:label="Developer screens/Font Test Activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity
            android:name=".developerscreens.DrawableMultilayerResizeActivity"
            android:label="Developer screens/Multilayer Sample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
            android:name=".developerscreens.RotateTestActivity"
            android:label="Developer screens/Rotate Test Activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity
            android:name=".developerscreens.ButtonSizeTextXMLSampleActivity"
            android:label="Developer screens/PDEButton Size Test Activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity
                android:name=".developerscreens.SimonDevScreen"
                android:label="Developer screens/Simon Dev Screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity
                android:name=".developerscreens.SliderScrollTest"
                android:label="Developer screens/Slider Scroll Test Screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity
                android:name=".developerscreens.TeleGroteskScreenActivity"
                android:label="Developer screens/TeleGrotesk Screen"
                android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity
                android:name=".developerscreens.MyPDECheckBoxListTestActivity"
                android:label="Developer screens/My PDE CheckBox List Test"
                android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>


        <activity
                android:name=".developerscreens.pdebuttonsamples.ButtonSelectorActivity"
                android:label="Developer screens/PDEButton Samples/Button Selector" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".developerscreens.pdebuttonsamples.ButtonCheckboxResizeActivity"
                android:label="Developer screens/PDEButton Samples/Button Checkbox Size" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".developerscreens.pdebuttonsamples.ButtonXMLSampleActivity"
                android:label="Developer screens/PDEButton Samples/Button Sample XML" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity
                android:name=".developerscreens.pdebuttonsamples.ButtonShowcase2Activity"
                android:label="Developer screens/PDEButton Samples/Button Showcase 2 Code" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity
                android:name=".developerscreens.pdebuttonsamples.ButtonXMLShowcase2Activity"
                android:label="Developer screens/PDEButton Samples/Button Showcase 2 XML" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>


        <!--<activity-->
        <!--android:name=".developerscreens.MyStandardCheckBoxListTestActivity"-->
        <!--android:label="Developer screens/My Standard CheckBox List Test"-->
        <!--android:configChanges="orientation">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="de.telekom.pde.codelibrary.samples.category.code" />-->
        <!--</intent-filter>-->
        <!--</activity>-->



        <!-- Settings screens -->
        <activity
                android:name=".developerscreens.settings.SettingsActivity"
                android:label="Developer screens/Settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>
        <activity
                android:name=".developerscreens.LayerTextTestScreen"
                android:label="Developer screens/LayerText Test Screen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".developerscreens.LayerTextBugfixScreen"
                android:label="Developer screens/LayerText Bugfix Screen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <activity
                android:name=".developerscreens.SliderSizingTestActivity"
                android:label="Developer screens/Slider Sizing Test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.telekom.pde.codelibrary.samples.category.code" />
            </intent-filter>
        </activity>

        <!-- activities from pdeCodeLibrary project. Not needed if Library AndroidManifast is merged during build! -->
        <activity android:name="de.telekom.pde.codelibrary.ui.modules.login.OKDialog" android:theme="@style/Theme.OKDialog" android:excludeFromRecents="true"/>
        <activity android:name="de.telekom.pde.codelibrary.ui.modules.login.PDEOneIDMLoginScreenActivity"/>


    </application>

</manifest>